@model IEnumerable<PositionModel>
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Positions";

}

<h1>@ViewData["Title"]</h1>
@if (TempData["PositionMessage"] is not null)
{
    <div class="alert alert-info" role="alert">
        <strong>Success:</strong> <span class="text-dark">@TempData["PositionMessage"]</span>
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainPositioning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)


            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportCount)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>Actions</th>
           

        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
				<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainPositioning)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportCount)
                </td>
					<td>
						@Html.DisplayFor(modelItem => item.CreatedAt)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LastUpdatedAt)
					</td>
                <td>
                    @if (item.Deadline == null)
                    {
                        <text>None</text>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Deadline)
                    }
                </td>
                <td>
						<a asp-action="Details" asp-route-id="@item.Id">Details</a>&nbsp;|&nbsp;
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;|&nbsp;
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
		}
    </tbody>
</table>



