@model ClubModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Club</h4>
    <hr />
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.CoachNames)
        </dt>
        <dd class="col-10">
            @Html.Raw( Model.CoachNames)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.ScoutCount)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.ScoutCount)
        </dd>
    </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Country)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.City)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Mail)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Mail)
            </dd>
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>



