@model CoachModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Coach</h4>
    <hr />
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.ClubName)
        </dd>
    </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.PositionNames)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.PositionNames)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Experience)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Experience)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.TacticalSystem)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.TacticalSystem)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Formation)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Formation)
            </dd>
        </dl>
      
  
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>



